a > img {
	width: 150px;
	height: auto;
	opacity: 0.7;
	transition: all ease-in-out .2s;
}

a > img:hover {
	opacity: 1;
}

article > div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
	gap: 1em;
}

.recipes-grid {
	display: grid;
	grid-template-columns: repeat(4, auto);
}

.recipes-grid > div {
	padding: 1em;
}

@media only screen and (max-width: 650px) {
    .recipes-grid {
        grid-template-columns: repeat(2, 50%);
    }
   
}